/* SVG wrap */
.svg-wrap {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.carousel {
    overflow: hidden;
    height: 800px;
}

.carousel-control {
    top: 50%;
    display: block;
    outline: none;
    text-align: left;
    z-index: 1000;
    width: auto;
    opacity: 1;
    bottom: auto;
    text-shadow: none;
    font-size: 1em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel-control:hover, .carousel-control:focus {
    opacity: 1;
}

.carousel .icon-wrap {
    position: relative;
    z-index: 100;
    display: block;
    padding: 20px 10px;
    border: 0 solid transparent;
    background: rgba(0,0,0,0.4);
    -webkit-transition: border-width 0.3s 0.15s;
    transition: border-width 0.3s 0.15s;
}

.carousel svg.icon {
    fill: #fff;
}

.carousel-control div {
    position: absolute;
    top: 50%;
    padding: 20px;
    width: 440px;
    height: 144px;
    background: #fff;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel-control.left div {
    left: 0;
    padding: 20px 140px 20px 70px;
    text-align: right;
    -webkit-transform: translateY(-50%) translateX(-100%) scale(0.75);
    -moz-transform: translateY(-50%) translateX(100%) scale(0.75);
    transform: translateY(-50%) translateX(-100%) scale(0.75);
}

.carousel-control.right div {
    right: 0;
    padding: 20px 70px 20px 140px;
    -webkit-transform: translateY(-50%) translateX(100%) scale(0.75);
    -moz-transform: translateY(-50%) translateX(100%) scale(0.75);
    transform: translateY(-50%) translateX(100%) scale(0.75);
}

.carousel-control span {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #cdcdcd;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.7em;
    line-height: 1.2;
}

.carousel-control h3 {
    margin: 0;
    padding: 8px 0 10px;
    color: #818181;
    font-weight: 300;
    font-family: "Lato",sans-serif;
    font-size: 1.325em;
    line-height: 1.2;
}

.carousel-control div p {
    margin: 0;
    color: #b24e44;
    font-style: italic;
    font-size: 75%;
    line-height: 1.25;
    font-family: "Lucida Bright", Georgia, serif;
}

.carousel-control img {
    position: absolute;
    top: 20px;
}

.carousel-control.left img {
    right: 20px;
}

.carousel-control.right img {
    left: 20px;
}

.carousel-control:hover .icon-wrap {
    border-top-width: 40px;
    border-bottom-width: 40px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.carousel-control:hover div {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translateY(-50%) translateX(0) scale(1);
    transform: translateY(-50%) translateX(0) scale(1);
}
/*   Bootstrap Customization   */
.carousel .carousel-control {
    background-image: none;
}

body {
    color: #FFF
}


/*   Pricing   */

.pricing body{
    background:#EEEEEE;
}

.pricing .bronze {
    background-color: #B0C4DE;
}

.pricing .bronze-text {
    color: #B0C4DE;
}

.pricing .silver {
    color: #fff;
    background-color: #C0C0C0;
}

.pricing .gold {
    color: #fff;
    background-color: #FFD700;
}

.pricing .gold-text {
    color:#FFD700;
}

.pricing .content .plan {
    position:relative;
    top:30px;
    background:rgba(255,255,255,1);
    padding-top:40px;
    padding-bottom:40px;
    border-radius:7px;
    color:#777;
    box-shadow:5px 5px 0 rgba(0,0,0,0.05);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
    margin-bottom:50px;
}

.pricing .content .plan.featured {
    top:0;
    padding-top:50px;
    padding-bottom:70px;
    margin-bottom:20px;
}

.pricing .content .plan:hover,
.pricing .content .plan.featured {
    background:#5CC9DF;
    color:#fff;
}

.pricing .content .plan h2 {
    font-size:28px;
    font-weight:700;
    margin-bottom:0;
    text-transform:uppercase;
}

.pricing .content .plan.featured h2 {
    margin-bottom:10px;
}

.pricing .content .plan p {
    margin-bottom:5px;
    font-weight:400;
}

.pricing .content .plan .icon {
    display:inline-block;
    margin-bottom:30px;
    width:120px;
    height:120px;
    border-radius:50%;
    font-size:48px;
    line-height:120px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.pricing .content .plan.featured .icon,
.pricing .content .plan:hover .icon{
    color:#5cc9df;
    background:#fff;
}

.pricing .content .plan .btn-pricing {
    margin-top:20px;
    margin-bottom:0;
    font-size:16px;
    padding:10px 20px;
}

.pricing .content .plan.featured .btn-pricing,
.pricing .content .plan:hover .btn-pricing {
    background: #fff;
    color:#5CC9DF;
}

.pricing .content .plan .price {
    font-size:48px;
    font-weight:100;
    line-height:48px;
    margin-bottom:30px;
}

.pricing .content .plan.featured .price {
    margin-bottom:40px;
}

.pricing col-sm-3{
    margin-bottom: 50px;
}


.underwater {
    /*background:linear-gradient(to bottom, #007299 10%, #004b65 50%, #001f2e 90%);*/
    background:linear-gradient(to bottom, #0997fe 10%, #0160a4 40%, #002743 80%, #001b2f 90%);
}

.carousel-inner .item {
    background:linear-gradient(to bottom, #cdeaff 10%, #e0f2ff 50%, #f4faff 90%);
    height: 800px;
}

#pricing {
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#services {
    /*background: #1abc9c;*/

    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.bg_services{
    position: absolute;
    opacity: 0.1;
    background: url(../img/dividers/1.jpeg) no-repeat center top; !important;
    background-attachment: scroll;
    background-position: center center;
    min-height: 400px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg_call{
    position: absolute;
    opacity: 0.1;
    background: url(../img/dividers/2.jpg) no-repeat center top; !important;
    background-attachment: scroll;
    background-position: center center;
    min-height: 200px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .bg_services{
        visibility: hidden;
    }

}

#services h3{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

.trigger{
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.trigger:hover{
    opacity:0.8;
}